<div style="font-size: 50px; padding-bottom: 20px"><a target="_parent" href="http://targaryen.cs.washington.edu/~xkcd/usage.html">targaryen.cs.washington.edu</a></div><div style="padding-right: 50px;"><div data-tooltip="xkcd" style="display: inline-block; width: 35px; height: 16px; background-color: rgb(3, 139, 107);"></div> <font size="5"><b>xkcd</b></font><br>
<div style="display: inline-block; width: 35px; height: 16px; background-color: Black;"></div> <font size="5"><b>Other</b></font><br>
<div style="display: inline-block; width: 100px; height: 10px; background-color: White;"></div><br>
<font size="5"><b>GPU 0:</b> 0.96 / 11.93 GB </font><br>
<div style="display: block; width: 700px; height: 20px; border: 2px solid black;"><div data-tooltip="xkcd" style="display: inline-block; width: 30px; height: 20px; background-color: rgb(3, 139, 107);"></div><div style="display: inline-block; width: 26px; height: 20px; background-color: Black;"></div></div>
<font size="5">
Recently Used By: xkcd
</font>
<br>
<br>
<div style="display: inline-block; width: 100px; height: 10px; background-color: White;"></div><br>
<font size="5"><b>CPU:</b> 50.40 / 800.00 % </font><br>
<div style="display: block; width: 700px; height: 20px; border: 2px solid black;"><div data-tooltip="xkcd" style="display: inline-block; width: 40px; height: 20px; background-color: rgb(3, 139, 107);"></div><div style="display: inline-block; width: 5px; height: 20px; background-color: Black;"></div></div><br>
<font size="5"><b>System Memory:</b> 9.03 / 31.37 GB </font><br>
<div style="display: block; width: 700px; height: 20px; border: 2px solid black;"><div data-tooltip="xkcd" style="display: inline-block; width: 189px; height: 20px; background-color: rgb(3, 139, 107);"></div><div style="display: inline-block; width: 13px; height: 20px; background-color: Black;"></div></div><br>
<font size="5"><b>Disk Usage:</b> 846.05 / 926.44 GB </font><br>
<div style="display: block; width: 700px; height: 20px; border: 2px solid black;"><div data-tooltip="spencer" style="display: inline-block; width: 0px; height: 20px; background-color: rgb(38, 85, 252);"></div><div data-tooltip="xkcd" style="display: inline-block; width: 583px; height: 20px; background-color: rgb(3, 139, 107);"></div><div style="display: inline-block; width: 56px; height: 20px; background-color: Black;"></div></div><br>
</div><div style="padding-top: 10px;"><pre>
Mon Aug 20 18:35:39 2018       
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 390.48                 Driver Version: 390.48                    |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|         Memory-Usage | GPU-Util  Compute M. |
|===============================+======================+======================|
|   0  GeForce GTX TIT...  Off  | 00000000:01:00.0  On |                  N/A |
| 22%   53C    P0    73W / 250W |    990MiB / 12212MiB |      5%      Default |
+-------------------------------+----------------------+----------------------+
                                                                               
+-----------------------------------------------------------------------------+
| Processes:                                                       GPU Memory |
|  GPU       PID   Type   Process name                             Usage      |
|=============================================================================|
|    0     30264      G   /usr/lib/xorg/Xorg                           461MiB |
|    0     31134      G   compiz                                       209MiB |
|    0     31530      G   ...aterialDesignUserManager<MaterialDesign   313MiB |
+-----------------------------------------------------------------------------+

</pre></div>